@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	height: 20px;
	width: 210px;
}

.progress-done {
	background: linear-gradient(to left, #185A7D, #185A7D);
	box-shadow: 0 3px 3px -5px #FFC600, 0 2px 5px #FFC600;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}